.container {
	display: flex;
	flex-direction: column;
	max-height: 700px;
	overflow: hidden;
	width: 100%;
}

.ingredients {
	margin: 24px 0 40px 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	overflow: auto;
	padding: 0 12px 0 0;
}

.total {
	display: flex;
	justify-content: space-between;
}

.total .total_price {
	display: flex;
}
