.section {
	width: 600px;
	margin-left: 40px;
	display: flex;
	flex-direction: column;
}

.list {
	margin-top: 100px;
}

.scrolled {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 192px;
}

.item {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.drag {
	width: 32px;
	cursor: grab;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 40px 16px 40px 0;
}
