.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 16px;
}

.image_container {
	height: 64px;
	width: 64px;
	background-image: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
	border-radius: 50%;
	padding: 2px;
}

.image {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background: var(--background);
	border-radius: 50%;
}

.image img {
	height: 90%;
}
