.item {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 50%;
	margin-top: 24px;
	padding: 16px;
}

.item img {
	transition: transform 0.3s;
}

.item img:hover {
	transform: scale(1.15);
}

.price {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 4px 0;
}

.dragging {
	background: var(--background);
	border-radius: 30px;
}
