.order_item {
	width: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 40px;
	padding: 24px;
	margin-bottom: 24px;
	background: var(--background);
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 24px;
}

.total_price {
	display: flex;
}
