.feed_info {
	display: flex;
	flex-direction: column;
}

.feed_info span {
	text-shadow: 0 0 30px #4c4cff;
}

.orders {
	display: flex;
	justify-content: space-between;
}
.orders ul {
	list-style: none;
	padding: 0;
	margin: 0;
	column-count: 2;

}

.orders ul li {
	padding-bottom: 8px;
}

