body {
  margin: 0;
  padding: 0;
}

body,
* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  width: 1240px;
  margin: 0 auto;
  height: 99%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.d-flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.w-100 {
  width: 100%;
}
