.header {
	background-color: #1C1C21;
}

.nav {
	width: 1240px;
	margin: 0 auto;
}

.menu {
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
}

.logo {
	cursor: pointer;
}
